# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# test output
.coverage

# Source / output data
*.csv
*.dat
*.xls
*.pdf
data/*
.DS_Store

# Do not ignore sample inputs
!sample_input_files/*
!sample_output_files/*
!data_pipeline_inputs/**
!tests/test_data/**

# Do ignore output files
tests/test_data/data_pipeline_inputs/output/**

# IDE
.idea
*.sw[po]
.vscode

# sphinx / readthedocs
doc/build/*
