# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# test output
.coverage

# Source / output data
*.csv
*.dat
*.xls
*.pdf
data/*
.DS_Store
tests/test_data/data_pipeline_inputs/output/**
sample_input_files/output/*
access*yaml

# Do not ignore sample inputs
!sample_input_files/human/**
!sample_output_files/*
!tests/test_data/data_pipeline_inputs/human/**

# Do ignore output files
tests/test_data/data_pipeline_inputs/output/**

# IDE
.idea
*.sw[po]
.vscode

# sphinx / readthedocs
doc/build/*
